
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-car"></i> รุ่นรถ</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Setting">ตั้งค่า</a></li>
        <li class="breadcrumb-item"><a href="/CarSetting">ข้อมูลเกี่ยวกับรถ</a></li>
        <li class="breadcrumb-item"><a href="/CarSetting/Brand">ยี่ห้อรถ</a></li>
        <li class="breadcrumb-item active" aria-current="page">รุ่นรถ</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search"></i> ค้นหาข้อมูล</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ชื่อยี่ห้อ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="@ViewBag.brandName" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ชื่อรุ่นรถ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="textSearch" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" onclick="ReloadDatatable();"><i class="fa fa-search"></i> ค้นหา</button>
            </div>
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-header">
        <h5><i class="fa fa-clipboard-list"></i> ข้อมูลรุ่นรถ</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" onclick="Add(0)"><i class="fa fa-plus"></i> เพิ่มรุ่นรถ</button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <table id="generationTable" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อรุ่นรถ</th>
                            <th>
                                จัดการ
                            </th>
                        </tr>
                    </thead>
                    @*<tbody>
                        <tr>
                            <td>Hilux Vigo</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-info btn-sm" onclick="Face(1,1)"><i class="fa fa-edit"></i> จัดการโฉม</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                    </tbody>*@
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่ม/แก้ไขรุ่น</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="generationForm" asp-controller="CarSetting" asp-action="CreateGeneration" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                    <input type="hidden" id="brandId" name="brandId" value="@ViewBag.brandId" />
                    <input type="hidden" id="generationId" name="generationId" />
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">ชื่อรุ่นรถ</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="generationName" name="generationName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ปิด</button>
                            <button type="button" class="btn btn-primary" onclick="Save();"><i class="fa fa-save"></i> บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var datatable;
        $(document).ready(function () {
            Datatable();

            $('#textSearch').keyup(function (e) {
                if (e.keyCode === 13) {
                    ReloadDatatable();
                }
            })
        });
        function Datatable() {
            datatable = $('#generationTable').DataTable({
                order: [],
                searching: false,
                ordering: true,
                lengthChange: false,
                pagingType: 'full_numbers',
                ajax: {
                    url: '/CarSetting/GetDatatableGeneration',
                    type: 'GET',
                    data: function (d) {
                        d.brandId = $('#brandId').val(),
                        d.generationName = $('#textSearch').val()
                    },
                    dataSrc: function (data) {
                        return data;
                    },
                    statusCode: {
                        401: function (xhr, error, thrown) {
                            window.location.reload();
                            return false;
                        }
                    }
                },
                columns: [
                    {
                        data: 'generationId',
                        className: 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'generationName',
                    },
                    {
                        data: 'generationId',
                        className: 'text-center',
                        render: function (data, type, row) {
                            if (row.carInGeneration == 0) {
                                return '<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addModal" onclick="Add(' + row.generationId + ')"><i class="fa fa-edit"></i> แก้ไข</button>' +
                                    ' <button type="button" class="btn btn-info btn-sm" onclick="Face(' + row.generationId + ');"><i class="fa fa-edit"></i> จัดการโฉม</button>' +
                                    ' <button type="button" class="btn btn-danger btn-sm" onclick="Delete(' + row.generationId + ')"><i class="fa fa-trash"></i> ลบ</button>';
                            } else {
                                return '<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addModal" onclick="Add(' + row.generationId + ')"><i class="fa fa-edit"></i> แก้ไข</button>' +
                                    ' <button type="button" class="btn btn-info btn-sm" onclick="Face(' + row.generationId + ');"><i class="fa fa-edit"></i> จัดการโฉม</button>';
                            }
                        }
                    }
                ]
            });
        }
        function ReloadDatatable() {
            datatable.ajax.reload();
        }
        function Add(generationId) {
            $.ajax({
                url: '/CarSetting/GetGenerationById',
                type: 'GET',
                data: {
                    brandId: '@ViewBag.brandId',
                    generationId: generationId
                },
                success: function (data) {
                    $('#generationId').val(data.generationId);
                    $('#generationName').val(data.generationName);
                }
            })
        }
        function Delete(generationId) {
            $.showConfirm({
                title: "แจ้งเตือน",
                body: "คุณต้องการลบข้อมูล ใช่หรือไม่?",
                textTrue: "ใช่",
                textFalse: "ไม่ใช่",
                onSubmit: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/CarSetting/DeleteGeneration',
                            type: 'POST',
                            data: {
                                brandId: '@ViewBag.brandId',
                                generationId: generationId
                            },
                            success: function (data) {
                                ResponseDialog(data.code, window.location.href);
                            }
                        })
                    }
                }
            })
        }
        function Save() {
            $("#generationForm").validate({
                errorClass: 'text-danger',
            }); //sets up the validator
            $("#generationName").rules("add", {
                required: true,
                messages: {
                    required: 'กรุณากรอกข้อมูล'
                }
            });

            var _checkGenerationName = true;
            $.ajax({
                url: '/CarSetting/CheckGenerationName',
                type: 'GET',
                async: false,
                data: {
                    brandId: $('#brandId').val(),
                    generationId: $('#generationId').val(),
                    generationName: $('#generationName').val()
                },
                success: function (data) {
                    _checkGenerationName = data;
                }
            })
            if (_checkGenerationName) {
                $('#generationForm').submit();
            } else {
                ExistDialog($('#generationName').val());
            }

        }
        function completed(res) {
            $('#addModal').modal('hide');
            ResponseDialog(res.responseJSON.code, window.location.href);
        }
        function Face(generationId) {
            window.location = '/CarSetting/Face?brandId=' + @ViewBag.brandId + '&generationId=' + generationId;
        }
    </script>
}
