@using UseCar.Helper
@model UseCar.ViewModels.ReceiveCarViewModel;
@inject DropdownList dropdownList;
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1><i class="fa fa-warehouse"></i> รายละเอียดข้อมูลรับรถ</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/ReceiveCar">ข้อมูลรับรถ</a></li>
        <li class="breadcrumb-item active" aria-current="page">รายละเอียดข้อมูลรับรถ</li>
    </ol>
</nav>
@{
    if (Model.receiveCarStatusId != 2)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-warning" onclick="Edit(@Model.carId)"><i class="fa fa-edit"></i> แก้ไข</button>
                    <button type="button" class="btn btn-danger" onclick="Delete(@Model.carId)"><i class="fa fa-trash"></i> ลบ</button>
                </div>
            </div>
        </div>
    }
}

<form>
    <div class="card">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> ข้อมูลรถ</h5>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="carId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>รหัสรถ</label>
                        <input type="text" class="form-control" asp-for="code" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>สถานะ</label>
                        <select class="form-control" asp-for="receiveCarStatusId" asp-items="@dropdownList.ReceiveCarStatus()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="receiveCarStatusId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>สาขา</label>
                        <select class="form-control" asp-for="branchId" asp-items="@dropdownList.BranchAll()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="branchId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ประเภทรถ</label>
                        <select class="form-control" asp-for="categoryId" asp-items="@dropdownList.Category()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="categoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>ยี่ห้อ</label>
                        <input type="text" class="form-control" asp-for="brandName" disabled />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>รุ่นรถ</label>
                        <input type="text" class="form-control" asp-for="generationName" disabled />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>โฉมรถยนต์</label>
                        <input type="text" class="form-control" asp-for="faceName" disabled />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>รุ่นย่อย</label>
                        <input type="text" class="form-control" asp-for="subfaceName" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขตัวรถ</label>
                        <input type="text" class="form-control" asp-for="serialNumber" disabled />
                        <span asp-validation-for="serialNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขเครื่องยนต์</label>
                        <input type="text" class="form-control" asp-for="engineNumber" disabled />
                        <span asp-validation-for="engineNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขไมล์ปัจจุบัน</label>
                        <input type="text" class="form-control" asp-for="mileNumber" disabled />
                        <span asp-validation-for="mileNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ยี่ห้อเครื่องยนต์</label>
                        <input type="text" class="form-control" asp-for="brandEngine" disabled />
                        <span asp-validation-for="brandEngine" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขถังแก๊ส</label>
                        <input type="text" class="form-control" asp-for="gasNumber" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>น้ำหนักรถ</label>
                        <input type="text" class="form-control" asp-for="weight" disabled />
                        <span asp-validation-for="weight" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>สี</label>
                        <select class="form-control" asp-for="colorId" asp-items="@dropdownList.Color()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="colorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ระบบเกียร์</label>
                        <select class="form-control" asp-for="gearId" asp-items="@dropdownList.Gear()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="gearId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เบาะ</label>
                        <select class="form-control" asp-for="seatId" asp-items="@dropdownList.Seat()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="seatId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ระบบขับเคลื่อน</label>
                        <select class="form-control" asp-for="driveSystemId" asp-items="@dropdownList.DriveSystem()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="driveSystemId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ประเภทเครื่องยนต์</label>
                        <select class="form-control" asp-for="engineTypeId" asp-items="@dropdownList.EngineType()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="engineTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ขนาดของเครื่องยนต์</label>
                        <select class="form-control" asp-for="capacityEngineId" asp-items="@dropdownList.CapacityEngine()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="capacityEngineId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ประเภทรถตามจดทะเบียน(รย.1-รย.17)</label>
                        <select class="form-control" asp-for="typeId" asp-items="@dropdownList.Type()" onchange="TypeSelect();" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="typeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ลักษณะ</label>
                        <input type="text" class="form-control" asp-for="natureName" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>รถปี ค.ศ.</label>
                        <select type="text" class="form-control" asp-for="year" asp-items="@dropdownList.Year()" disabled>
                            <option value="">กรุณาเลือก</option>
                        </select>
                        <span asp-validation-for="year" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ราคาซื้อเข้า</label>
                        <input type="text" class="form-control" asp-for="buyPrice" disabled />
                        <span asp-validation-for="buyPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>วันที่รับรถ</label>
                        <div class="input-group date" id="receiveDate">
                            <input type="text" class="form-control" id="receiveDateShow" value="" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" asp-for="receiveDateHidden" value="" />
                        <span asp-validation-for="receiveDateHidden" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> อุปกรณ์เสริมเพิ่มเติมอื่นๆ</h5>
        </div>
        <div class="card-body">
            <div class="row" id="optionBody">
                @*<div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                            <label class="form-check-label" for="add">
                                เพิ่มข้อมูล
                            </label>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> ข้อมูลจดทะเบียน</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>วันจดทะเบียน</label>
                        <div class="input-group date" id="registerDate">
                            <input type="text" class="form-control" id="registerDateShow" value="" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" asp-for="registerDateHidden" value="" />
                        <span asp-validation-for="registerDateHidden" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขทะเบียน</label>
                        <input type="text" class="form-control" asp-for="registerNumber" disabled />
                        <span asp-validation-for="registerNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>จังหวัด</label>
                    <select class="form-control" asp-for="provinceId" asp-items="@dropdownList.Province()" disabled>
                        <option value="">กรุณาเลือก</option>
                    </select>
                    <span asp-validation-for="provinceId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> เจ้าของรถปัจจุบัน</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>ลำดับที่</label>
                        <input type="text" class="form-control" asp-for="order" disabled />
                        <span asp-validation-for="order" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>วันที่ครอบครองรถ</label>
                        <div class="input-group date" id="ownerDate">
                            <input type="text" class="form-control" id="ownerDateShow" value="" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" asp-for="ownerDateHidden" value="" />
                        <span asp-validation-for="ownerDateHidden" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ชื่อผู้ครอบครอง</label>
                        <input type="text" class="form-control" asp-for="ownerName" disabled />
                        <span asp-validation-for="ownerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ที่อยู่</label>
                        <textarea class="form-control" rows="3" asp-for="ownerAddress" disabled></textarea>
                        <span asp-validation-for="ownerAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> ข้อมูลผู้ขาย</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ซื้อจาก</label>
                        <input type="text" class="form-control" asp-for="vendorName" disabled />
                        <span asp-validation-for="vendorName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ที่อยู่</label>
                        <textarea class="form-control" asp-for="vendorAddress" rows="3" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" asp-for="vendorTel" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>เลขบัตร/เลขทะเบียนพานิชย์</label>
                        <input type="text" class="form-control" asp-for="vendorNumber" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5><i class="fa fa-image"></i> รูปภาพ</h5>
        </div>
        <div class="card-body">
            <div class="list-img" id="SelectImg">
                @{
                    foreach (var image in Model.imageDisplay)
                    {
                        <div class="item-img">
                            <div class="card">
                                <img src="@image.image" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> ข้อมูลอื่นๆ</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>อื่นๆ</label>
                        <textarea class="form-control" asp-for="remark" rows="3" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <button type="button" class="btn btn-dark" onclick="window.history.back();"><i class="fa fa-arrow-left"></i> กลับ</button>
        </div>
    </div>
</form>

@section scripts{
    <script>
        var file = [];
        $(document).ready(function () {
            $('#receiveDateShow').val(moment().locale('th').format('ll'));
            $('#receiveDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#receiveDate.date').datepicker().on('changeDate', function (e) {
                $('#receiveDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });

            $('#registerDateShow').val(moment().locale('th').format('ll'));
            $('#registerDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#registerDate.date').datepicker().on('changeDate', function (e) {
                $('#registerDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });

            $('#ownerDateShow').val(moment().locale('th').format('ll'));
            $('#ownerDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#ownerDate.date').datepicker().on('changeDate', function (e) {
                $('#ownerDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });

            $('#provinceId').select2();
            GenerateOption();
        });
        function GenerateOption() {
            var car_option = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.options))');
            $.ajax({
                url: '/ReceiveCar/GetOption',
                type: 'GET',
                success: function (data) {
                    var _element = '';
                    data.forEach(function (item, index) {
                        var _check = car_option.filter(function (option) {
                            return option.optionId == item.optionId
                        }).length > 0 ? 'checked' : '';
                        _element += '<div class="col-md-3">';
                        _element += '<div class="form-check">';
                        _element += '<input class="form-check-input" type="checkbox" name="options[' + index + '].optionId" value="' + item.optionId + '" id="optionId_' + item.optionId + '" ' + _check +'>';
                        _element += '<label class="form-check-label" for="optionId_' + item.optionId +'">&nbsp;'+item.optionName+'</label>';
                        _element += '</div>';
                        _element += '</div>';
                    });
                    $('#optionBody').append(_element);
                    $('input[type=checkbox]').iCheck({
                        checkboxClass: 'icheckbox_square-green',
                    })
                }
            })
        }
        function Edit(carId) {
            window.location.href = '/ReceiveCar/Create?carId=' + carId;
        }
        function Delete(carId) {
            $.showConfirm({
                title: "แจ้งเตือน",
                body: "คุณต้องการลบข้อมูล ใช่หรือไม่?",
                textTrue: "ใช่",
                textFalse: "ไม่ใช่",
                onSubmit: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/ReceiveCar/Delete',
                            type: 'POST',
                            data: {
                                carId: carId
                            },
                            success: function (data) {
                                ResponseDialog(data.code, '/ReceiveCar');
                            }
                        })
                    }
                }
            })
        }
    </script>
}


